@import 'fonts.css';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
.container{
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    
}
.header{
    background: #282828;

    
    
}
.header__nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__nav-links{
    font-family: 'mont-bold';
    font-size: 20px;
    line-height: 24px;
    display: flex;
    gap: 30px;
    margin-left: 30px;
    
    
}

.header__nav-logo{
    display: flex;
    align-items: center;
}
.header__nav-link {
    color: #ffffff;
}
.header__link-search{
    display: flex;
    gap: 25px;

}
.header__content{
    
    display: flex;
    
    align-items: center;
    
    justify-content: center;
    
}
.header__content-info{
    position: absolute;
    
}
.header__content-bg{
    width: 100%;
}

.header__content-title{

    font-family: 'mont-one';
    font-size: 100px;
    line-height: 75px;
    color: #ffffff;
}
.header__content-link{
    font-family: 'mont-medium';
    font-size: 20px;
    line-height: 24px;
    display: block;
    background: #FFFFFF;
    border-radius: 10px;
    padding: 13px 14px;
    color: black;
    text-transform: uppercase;
    margin-top: 38px;
    width: 200px
    
    
}
.header__content-links{

    margin:0 35%

}

/* main */

.main{
    background: #151515;
    padding-top: 30px;
    padding-bottom: 55px;
}

.main__box{
    display: flex;
    justify-content: space-between;
   
}

.main__info-title-1{
    font-family: 'mont-medium';
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    color: #ffffff;
    padding-top: 63px;
    padding-right: 30px;
    
}
.main__info{
    display: flex;
    margin-top: 50px;
}
.main__info-2{

    display: flex;
}
.main__info-title-2{
    font-family: 'mont-medium';
   
    font-size: 22px;
    line-height: 27px;
    color: #ffffff;
    display: flex;
    align-items: center;
    padding-left: 87px;
    
}
.main__info-3{
    display: flex;
    margin-top: 50px;  
    align-items: center;
    justify-content: space-between;
}
.main__info-title-3{
    font-family: 'mont-bold';
    
    font-size: 20px;
    line-height: 24px;
    color: #ffffff;
    width: 333px;
}

.main__info-pro::before {

    content: '';
    display: block;
    width: 61px;
    height: 1px;
    background: #C4C4C4;
    
    
    

}
.main__info-pro::after {

    content: '';
    display: block;
    width: 61px;
    height: 1px;
    background: #C4C4C4;
    
    
    

}
.main__info-pro {

    display: flex;
    align-items: center;
    
    
    
   
}

.main__box-info{
    display: flex;
    margin-top: 79px;
    padding-bottom: 55px;
    justify-content: space-between;
}
.main__box-info{
    background: #ffffff;
    padding: 15px ;
    width: 255px;
    border-radius: 6px; 
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main__img-box{
    padding-top: 10px;
    padding-bottom: 10px;
}
.main__box-text{
    font-family:'mont-bold';
    font-weight: 700;
    font-size: 20px;
    line-height: 24px; 
    color: #000000;
}
.main__box-p{
    font-family:'mont-regular';
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #000000;
    padding-top: 10px;
    padding-bottom: 20px;
    
}
.main__box-link{
    font-family: 'mont-bold';
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
    display: block;
    background: black;
    padding: 7px 57px;

}
/* footer */

.footer{
    background: #282828;
    padding-top: 81px;
    padding-bottom: 81px;

}
.footer__content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__content-list{
    font-family: 'mont-bold';
    font-size: 20px;
    line-height: 24px;
    display: flex;
    gap: 30px;
    margin-left: 30px;

}
.footer__link {
    color: #ffffff;
}
.footer_content-link{
    padding-left: 29px;
    display: inline-block;
}
@media(max-width: 992px) {
    .main__box{

    flex-wrap: wrap;

    }
}
@media(max-width: 768px) {
    .main__info{
        flex-wrap: wrap;
        justify-content: center;
    }
    .main__info-img1{
        margin: 0 auto;
    }
    .main__info-3, .main__info-2{
        flex-wrap: wrap;
        justify-content: center;
    }
}
    
    
   

@media(max-width: 576px){
    .main__info-3, .main__info-2{
        flex-wrap: wrap;
        justify-content: center;
    }
    .header__content-title{
        text-align: center;
    }
    .main__info-img1{
        width: 100%;
    }
    .main__box{
        justify-content: center;
    }
    .header__content-title{
        font-size: 50px;
    }
}
   
@media(max-width: 480px){
    .main__info-img1{
        width: 100%;
    }
    .header__content-title{
        font-size: 50px;
    }
    .header__content-links{
        margin: 0 20%;
    }
}
